{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome{% endblock %}
{% block content %}

    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    
                                            <div class="text-container text-center">
                                                        <h1>Let's Make the Internet a Kinder Place!</h1>
                                                        <p>
                                                            We’ve all been there — scrolling through comments and 
                                                            stumbling upon something nasty or offensive. It’s time 
                                                            to change that! Our Toxic Comment Detector is here to
                                                             identify toxic language and help build a safer online 
                                                             space for everyone.
                                                        </p>
                                                        <div class="resource-container basic-4 bg-dark-blue">
                                                            <!-- <img class="img-fluid" src="images/resources-1.jpg" alt="alternative"> -->
                                                            <div class="text-container">
                                                                <h3>Why We Built This Tool:</h3>
                                                        <p>
                                                            The internet should be a place for collaboration, learning, 
                                                            and positivity. By identifying harmful comments, we’re taking 
                                                            one small step toward a kinder, more inclusive online experience. 
                                                            Let’s work together to make the digital world a better place!                                                        
                                                        </p>
                                                            </div> <!-- end of text-container -->
                                                        </div>
                                                        
                                                    
                                            </div> 
                                            
                            

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of text slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
            
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    
{% endblock %}